{% extends 'base.html.twig' %}

{% block navActivo %}
    <a class="nav-item nav-link" href="{{ path('home') }}">Home</a>
    <a class="nav-item nav-link" href="{{ path('clientes_listar') }}">Clientes</a>
    <a class="nav-item nav-link" href="{{ path('proveedor_listar') }}">Proveedores</a>
    <a class="nav-item nav-link  active" href="{{ path('productos_listar') }}">Productos / Servicios</a>
    <a class="nav-item nav-link" href="{{ path('app_logout') }}">Salir</a>
{% endblock %}

{% block body %}
<div class="card bg-light mb-12">
        
    <div class="card-body">
    
        <h2>Nuevo Producto / Servicio:</h2>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}     
            <div class="form-row">
                <div class="form-group col-md-3">
                    {{ form_label(form.marca) }}
                    {{ form_widget(form.marca, {'attr': {'class': form_errors(form.marca) ? 'form-control is-invalid' : 'form-control'}}) }}
{#                    <div class="invalid-feedback">
                        {{ form_errors(form.marca) }}
                    </div>#}
                </div>
                <div class="form-group col-md-3">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre, {'attr': {'class': form_errors(form.nombre) ? 'form-control is-invalid' : 'form-control'}}) }}
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-3">
                    {{ form_label(form.precio) }}
                    {{ form_widget(form.precio, {'attr': {'class': form_errors(form.precio) ? 'form-control is-invalid' : 'form-control'}}) }}
                </div>
                <div class="form-group col-md-3">
                    {{ form_label(form.cantidad) }}
                    {{ form_widget(form.cantidad, {'attr': {'class': form_errors(form.cantidad) ? 'form-control is-invalid' : 'form-control'}}) }}
                </div> 
            </div>
                
            <div class="form-row">
                <div class="form-group col-md-3">
                    {{ form_label(form.descripcion) }}
                    {{ form_widget(form.descripcion, {'attr': {'class': form_errors(form.descripcion) ? 'form-control is-invalid' : 'form-control'}}) }}
                </div>
                <div class="form-group col-md-3">
                    {{ form_label(form.controlStock) }}
                    {{ form_widget(form.controlStock, {'attr': {'class': form_errors(form.controlStock) ? 'form-control is-invalid' : 'form-control'}}) }}
                </div>
            </div>

            <div class="form-row">
                <div>
                    {#{{ form_widget(form.save) }}#}
                    <button type="button" class="btn btn-secondary" onclick="window.location.href = '{{ path('productos_listar') }}'">Volver</button>
                </div>
                <div>&nbsp;</div>{# Espacio en blanco p/separar botones #}
                <div>
                    <button type="submit" class="btn btn-primary" formnovalidate>Guardar</button>
                </div>
            </div>
           {{form_end(form)}}     
        </div>
    </div>
{% endblock %}
