{% extends 'index.html.twig' %}
   
{% block navActivo %}
    <a class="nav-item nav-link" href="#">Home</a>
    <a class="nav-item nav-link" href="#" onclick="window.location.href = '{{ path('clientes_listar') }}'">Clientes</a>
    <a class="nav-item nav-link" href="#" onclick="window.location.href = '{{ path('productos_listar') }}'">Productos / Servicios</a>
    <a class="nav-item nav-link active" href="#" onclick="window.location.href = '{{ path('historiales_listar') }}'">Historiales</a>
{% endblock %}

{% block titleLista %}  
    <h1 class="h3 mb-3 font-weight-normal">Listado de Historiales:</h1>
    <button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('historial_nuevo') }}'">Nuevo</button>
{% endblock %}


{% block buttons %}
    <button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('historial_nuevo') }}'">Nuevo</button>
{% endblock %}